body{
    height: 100%;
    margin: 0%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 10vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
}

.game-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container{
    display: 'grid'; 
    grid-template-columns: '1fr 1fr'; 
    gap: '10px';
}
.log-container{
    height: 47vh;
}

.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status{
    font-size: 30px;
}
.left-container{
    width: 30vw;
}
.right-container{
    width: 70vw;
    /* height: 100%; */
}


body.active-modal {
    overflow-y: hidden;
}

.modal{
    z-index: 1000;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}