.ttt-square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 10vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}
.ttt-square:hover {
    background-color: #ddd;
  }
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.status {
    margin-bottom: 10px;
    font-size: 30px;
}
.game-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container{
    display: 'grid'; 
    grid-template-columns: '1fr 1fr'; 
    gap: '10px';
}
.log-container{
    height: 47vh;
}
.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-container{
    width: 30vw;
}
.right-container{
    width: 70vw;
}

