.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 10vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.sv-game-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sv-log-container{
    height: 47vh;
}

.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-container{
    width: 30vw;
}
.right-container{
    width: 70vw;
    /* height: 100%; */
}
