.navbar {
  display: flex;
  background-color: #ca9965;
  align-items: center;
  /* padding: 10px; */
  width: 100%;
  height: 3vh;
  position: relative; 
  justify-content: space-between;
}

.game-selector > * {
  margin-right: 15px; /* Add space between children */
  margin-left: 10px;
}

.auth-buttons {
  margin-right: 10px; /* Add space between children */
  margin-left: 15px;
}


.game-selector > span {
  padding: 9px; 
}
.link:hover {
  text-decoration: underline;
}

.link {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}