.ms-container{
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms-logs{
    height: 34vh;
}

.left-container{
    width: 30vw;
}
.main{
    width: 70vw;
}


.board {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  