body{
    height: 100%;
    margin: 0%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 10vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.save-select{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
}

.game-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container{
    display: 'grid'; 
    grid-template-columns: '1fr 1fr'; 
    gap: '10px';
}
.log-container{
    height: 47vh;
}

.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status{
    font-size: 30px;
}
.left-container{
    width: 30vw;
}
.right-container{
    width: 70vw;
    /* height: 100%; */
}


.board {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  