body{
    height: 100%;
    margin: 0%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.save-select{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-container{
    display: 'grid'; 
    grid-template-columns: '1fr 1fr'; 
    gap: '10px';
}